@font-face {
    font-family: 'weather';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot');
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.woff') format('woff'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.ttf') format('truetype'),
         url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/93/artill_clean_icons-webfont.svg#artill_clean_weather_iconsRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

i {
  font-family: weather;
  font-size: 22px;
  line-height: 26px;
  font-style: normal;
}

.icon-0:before { content: ":"; }
.icon-1:before { content: "p"; }
.icon-2:before { content: "S"; }
.icon-3:before { content: "Q"; }
.icon-4:before { content: "S"; }
.icon-5:before { content: "W"; }
.icon-6:before { content: "W"; }
.icon-7:before { content: "W"; }
.icon-8:before { content: "W"; }
.icon-9:before { content: "I"; }
.icon-10:before { content: "W"; }
.icon-11:before { content: "I"; }
.icon-12:before { content: "I"; }
.icon-13:before { content: "I"; }
.icon-14:before { content: "I"; }
.icon-15:before { content: "W"; }
.icon-16:before { content: "I"; }
.icon-17:before { content: "W"; }
.icon-18:before { content: "U"; }
.icon-19:before { content: "Z"; }
.icon-20:before { content: "Z"; }
.icon-21:before { content: "Z"; }
.icon-22:before { content: "Z"; }
.icon-23:before { content: "Z"; }
.icon-24:before { content: "E"; }
.icon-25:before { content: "E"; }
.icon-26:before { content: "3"; }
.icon-27:before { content: "a"; }
.icon-28:before { content: "A"; }
.icon-29:before { content: "a"; }
.icon-30:before { content: "A"; }
.icon-31:before { content: "6"; }
.icon-32:before { content: "1"; }
.icon-33:before { content: "6"; }
.icon-34:before { content: "1"; }
.icon-35:before { content: "W"; }
.icon-36:before { content: "1"; }
.icon-37:before { content: "S"; }
.icon-38:before { content: "S"; }
.icon-39:before { content: "S"; }
.icon-40:before { content: "M"; }
.icon-41:before { content: "W"; }
.icon-42:before { content: "I"; }
.icon-43:before { content: "W"; }
.icon-44:before { content: "a"; }
.icon-45:before { content: "S"; }
.icon-46:before { content: "U"; }
.icon-47:before { content: "S"; }

$list-cloudy: "0", "5", "6", "7", "9", "19", "20", "21", "22", "23", "24", "25", "26", "35";
$list-lightning: "2", "3", "4", "5", "38", "39", "40", "46", "48";
$list-moon-clear: "27", "29", "31", "33", "44";
$list-sunny: "28", "30", "32", "34", "36";

@each $i in $list-cloudy {
  .bg-#{$i} {
    background: linear-gradient(45deg, #1e5799 0%,#7db9e8 100%);
  }
}

@each $i in $list-lightning {
  .bg-#{$i} {
    background: linear-gradient(45deg, #f1da36 0%,#6b6366 40%);
  }
}

@each $i in $list-moon-clear {
  .bg-#{$i} {
    background: linear-gradient(45deg, #5087b7 0%,#131313 68%);
  }
}

@each $i in $list-sunny {
  .bg-#{$i} {
    background: linear-gradient(45deg, #87e0fd 0%,#faff07 100%);
  }
}

.location {
  margin: 0 0 6px 0;
  font: 18px/18px normal Arial, Helvetica, sans-serif;
}
.location-select {
  float: right;
}
.today-temperature {
  font: 50px/59px normal Arial, Helvetica;
  margin-right: 18px;
}
.today {
  height: 60px;
  margin: 0 -10px;
  padding: 0 10px;
  color: #fff;
  text-shadow: 1px 1px 1px #333;
  border: 1px solid #ccc;
  border-left: 0px;
  border-right: 0px;
}
.today > div {
  display: inline-block;
}
.today i {
  font-size: 46px;
  line-height: 23px;
  display: block;
  text-align: center;
}
.today .week-day-temperature {
  text-align: center;
  font-size: 8px;
}
.weather-widget {
  position: relative;
  width: 310px;
  height: 160px;
  margin: 0px auto;
  color: #333;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 2px #333;
  font: 10px/12px normal Arial, Helvetica, sans-serif;
  padding: 10px;
}
.week-forecast {
  width: 100%;
  display: block;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.week-forecast > li {
  // border-top: 1px solid #333;
  float: left;
  width: 20%;
}
.week-forecast > li > .inner {
  border-right: 1px solid rgba(0,0,0,0.1);
  width: 100%;
  height: auto;
  padding: 0 4px;
  margin-top: 6px;
  text-align: center;
  position: relative;
}
.week-day-temperature {
  font-size: 8px;
}
.week-forecast > li:last-child > .inner {
  border-right: none;
}
.week-day {
  margin-top: 0;
  margin-bottom: 2px;
  font-weight: bold;
}
